<ol id="morph-list" data-testid="morph-list" class="mt-4 space-y-1 max-w-md list-decimal list-inside text-gray-500 dark:text-gray-400">
  <li>
    <span class="font-semibold text-gray-900 dark:text-white">One</span> (<span class="font-mono font-semibold text-gray-900 dark:text-white">1</span>)
  </li>
  <li>
    <span class="font-semibold text-gray-900 dark:text-white">Two</span> (<span class="font-mono font-semibold text-gray-900 dark:text-white">2</span>)
  </li>
  <li>
    <span class="font-semibold text-gray-900 dark:text-white">Three</span> (<span class="font-mono font-semibold text-gray-900 dark:text-white">3</span>)
  </li>
</ol>
