<section class="bg-white dark:bg-gray-900">
  <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6 xl:gap-16">
    <div class="text-gray-500 sm:text-lg">
      <h2 class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white">Why you should
        upgrade to Flowbite Pro</h2>
      <p class="mb-8 font-light lg:text-xl dark:text-gray-400">Here at Flowbite we focus on markets where
        technology, innovation, and capital can unlock long-term value.</p>
      <div class="grid gap-8 py-8 border-t border-gray-200 sm:grid-cols-2 lg:grid-cols-1 dark:border-gray-700">
        <div class="flex">
          <div class="flex justify-center items-center mr-4 w-12 h-12 bg-white rounded shadow dark:bg-gray-700 shrink-0">
            <svg class="w-7 h-7 text-gray-900 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11 4a1 1 0 10-2 0v4a1 1 0 102 0V7zm-3 1a1 1 0 10-2 0v3a1 1 0 102 0V8zM8 9a1 1 0 00-2 0v2a1 1 0 102 0V9z" clip-rule="evenodd"></path>
            </svg>
          </div>
          <div>
            <h3 class="mb-1 text-xl font-bold text-gray-900 dark:text-white">Industry analysis</h3>
            <p class="font-light text-gray-500 dark:text-gray-400">Benchmark your company against the industry
              to inform your growth strategy and analyze market trends.</p>
          </div>
        </div>
        <div class="flex">
          <div class="flex justify-center items-center mr-4 w-12 h-12 bg-white rounded shadow dark:bg-gray-700 shrink-0">
            <svg class="w-7 h-7 text-gray-900 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h8a2 2 0 012 2v12a1 1 0 110 2h-3a1 1 0 01-1-1v-2a1 1 0 00-1-1H9a1 1 0 00-1 1v2a1 1 0 01-1 1H4a1 1 0 110-2V4zm3 1h2v2H7V5zm2 4H7v2h2V9zm2-4h2v2h-2V5zm2 4h-2v2h2V9z" clip-rule="evenodd"></path>
            </svg>
          </div>
          <div>
            <h3 class="mb-1 text-xl font-bold text-gray-900 dark:text-white">Company analysis</h3>
            <p class="font-light text-gray-500 dark:text-gray-400">Uncover competitor digital strategies and
              deep dive into any company’s digital footprint.</p>
          </div>
        </div>
        <div class="flex">
          <div class="flex justify-center items-center mr-4 w-12 h-12 bg-white rounded shadow dark:bg-gray-700 shrink-0">
            <svg class="w-7 h-7 text-gray-900 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M7 2a2 2 0 00-2 2v12a2 2 0 002 2h6a2 2 0 002-2V4a2 2 0 00-2-2H7zm3 14a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path>
            </svg>
          </div>
          <div>
            <h3 class="mb-1 text-xl font-bold text-gray-900 dark:text-white">App analysis</h3>
            <p class="font-light text-gray-500 dark:text-gray-400">Analyze app industry trends and discover
              audience interests to learn which apps are gaining traction in the app ecosystem.</p>
          </div>
        </div>
        <div class="flex">
          <div class="flex justify-center items-center mr-4 w-12 h-12 bg-white rounded shadow dark:bg-gray-700 shrink-0">
            <svg class="w-7 h-7 text-gray-900 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z"></path>
            </svg>
          </div>
          <div>
            <h3 class="mb-1 text-xl font-bold text-gray-900 dark:text-white">Audience analysis</h3>
            <p class="font-light text-gray-500 dark:text-gray-400">Benchmark your company against the industry
              to inform your growth strategy and analyze market trends.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Pricing Card -->
    <div class="flex flex-col p-6 bg-white rounded-lg shadow xl:p-8 dark:bg-gray-800">
      <div class="justify-between items-center md:flex">
        <div>
          <div class="flex justify-between mb-2">
            <h3 class="text-2xl font-bold text-gray-900 dark:text-white">Pro Plan</h3>
            <div class="flex items-center md:hidden">
              <div class="mr-1 text-xl font-extrabold text-gray-900 lg:text-5xl dark:text-white">$599</div>
              <span class="text-gray-500 dark:text-gray-400">/month</span>
            </div>
          </div>
          <p class="text-lg font-light text-gray-500 md:mr-2 dark:text-gray-400">Best for large scale uses and
            extended redistribution rights.</p>
        </div>
        <div class="hidden md:block">
          <div class="text-2xl font-extrabold text-gray-900 lg:text-5xl dark:text-white">$599</div>
          <span class="text-gray-500 dark:text-gray-400">per month</span>
        </div>
      </div>
      <a href="#" class="py-2.5 px-5 my-5 text-sm font-medium text-center text-white rounded-lg lg:my-8 focus:ring-4 bg-primary-600 dark:focus:ring-primary-900 hover:bg-primary-700 focus:ring-primary-200">Upgrade
        now</a>
      <div class="justify-between space-y-4 sm:flex sm:space-y-0">
        <!-- List -->
        <ul role="list" class="space-y-4">
          <li class="flex space-x-2.5">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
            </svg>
            <span class="font-light leading-tight text-gray-500 dark:text-gray-400">A/B Testing</span>
          </li>
          <li class="flex space-x-2.5">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
            </svg>
            <span class="font-light leading-tight text-gray-500 dark:text-gray-400">24/7 Email & Chat Support</span>
          </li>
          <li class="flex space-x-2.5">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
            </svg>
            <span class="font-light leading-tight text-gray-500 dark:text-gray-400">Custom Branding</span>
          </li>
          <li class="flex space-x-2.5">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
            </svg>
            <span class="font-light leading-tight text-gray-500 dark:text-gray-400">Creative Assistant</span>
          </li>
          <li class="flex space-x-2.5">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
            </svg>
            <span class="font-light leading-tight text-gray-500 dark:text-gray-400">Website Builder</span>
          </li>
        </ul>
        <!-- List -->
        <ul role="list" class="space-y-4">
          <li class="flex space-x-2.5">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
            </svg>
            <span class="font-light leading-tight text-gray-500 dark:text-gray-400">Advanced Segmentation</span>
          </li>
          <li class="flex space-x-2.5">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
            </svg>
            <span class="font-light leading-tight text-gray-500 dark:text-gray-400">Multivariate Testing</span>
          </li>
          <li class="flex space-x-2.5">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
            </svg>
            <span class="font-light leading-tight text-gray-500 dark:text-gray-400">Comparative Reporting</span>
          </li>
          <li class="flex space-x-2.5">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
            </svg>
            <span class="font-light leading-tight text-gray-500 dark:text-gray-400">Custom Templates</span>
          </li>
          <li class="flex space-x-2.5">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
            </svg>
            <span class="font-light leading-tight text-gray-500 dark:text-gray-400">Dynamic Content</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
