<footer class="p-4 my-6 mx-4 bg-white rounded-lg shadow md:flex md:justify-between md:items-center md:p-6 xl:p-8 dark:bg-gray-700">
  <ul class="flex flex-wrap items-center mb-6 space-y-1 md:mb-0 md:space-y-0">
    <li><a href="https://twitter.com/hopsoft" rel="nopener" target="_blank" class="mr-4 text-sm font-normal text-gray-500 md:mr-6 dark:text-gray-400 hover:underline">Crafted by <span class="text-blue-500">Hopsoft</span></a></li>
    <li><a href="https://www.clickfunnels.com/?utm_source=hopsoft&utm_medium=open-source&utm_campaign=turbo_ready" rel="nopener" target="_blank" class="mr-4 text-sm font-normal md:mr-6 dark:text-gray-400 hover:underline">Sponsored by <strong class="dark:text-white">ClickFunnels</strong></a></li>
  </ul>
  <div class="flex space-x-6 sm:justify-center">
    <a href="https://github.com/hopsoft/turbo_ready" rel="nopener" target="_blank" class="flex items-center font-light text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white">
      <%= render icon(:github), class: "w-5 h-5 mr-2" %>
      <span class="tracking-tight opacity-70">Turbo</span><span class="mr-1 font-medium tracking-tight text-red-500">Ready</span>
      is Open Source
    </a>
  </div>
</footer>

<p class="my-10 text-sm text-center text-gray-500">
  © 2022 <a href="https://twitter.com/hopsoft" class="text-blue-500 hover:underline" rel="nopener" target="_blank">Hopsoft</a>. All rights reserved.
</p>
